* {
    box-sizing: content-box;
}

template {
    display: none;
}

.logs {
    margin: 1em 0;
    height: 7em; /* (1 em + 0.2 em + 0.2 em) × number of lines */
    overflow: auto;
    resize: vertical;
}

.logs div {
    padding: 0.2em 0.2em;
    transition: color 1.2s ease-in, background-color 1.2s ease-in;
}

.logs .info.new {
    color: #00529B;
    background-color: #BDE5F8;
}
.logs .success.new {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.logs .warning.new {
    color: #9F6000;
    background-color: #FEEFB3;
}

.logs .error.new {
    color: #D8000C;
    background-color: #FFBABA;
}

.logs .date {
    margin-right: 1em;
}

.item {
    border: 0.1em solid black;
    padding: 0.5em;
}

.item > .features, .item > .defaultfeatures, .item > .subitem {
    margin: 0.25em 0;
    padding: 0.5em;
    border: 0.1em dashed #3c3c3c;
}

.item > .features input, .item > .defaultfeatures input {
    border: 0.1em solid #ccc;
    border-radius: 0.3em;
    margin: 0.1em;
    padding: 0.5em;
    background: rgba(0,0,0,0);

}

.item > .features input:disabled, .item > .defaultfeatures input:disabled {
    border: 0.1em solid rgba(0,0,0,0);
    margin: 0.1em;
}

.item .featuredeletebutton {
    margin: 0.2em;
    font-family: monospace;
    width: 1em;
    padding-left: 0.1em;
    padding-right: 0.1em;
}
