template {
    display: none;
}

#logs-view {
    margin: 1em 0;
}

#logs-view div {
    padding: 0.2em 0.2em;
    transition: color 1.2s ease-in, background-color 1.2s ease-in;
}

#logs-view .info.new {
    color: #00529B;
    background-color: #BDE5F8;
}
#logs-view .success.new {
    color: #4F8A10;
    background-color: #DFF2BF;
}
#logs-view .warning.new {
    color: #9F6000;
    background-color: #FEEFB3;
}

#logs-view .error.new {
    color: #D8000C;
    background-color: #FFBABA;
}

#logs-view .date {
    margin-right: 1em;
}
